/* reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* general style and layout */
body{
    font-family: "Open Sans", system-ui, -apple-system, Roboto, 'Segoe UI', sans-serif;
    color: #ffffff;
}

.container{
    display: grid;
    grid-template-rows: 125px 1fr 50px;
    grid-template-columns: 400px 1fr;
}

/* header style */
header{
    z-index: 2;
    grid-column: 2;
    grid-row: 1 / 2;
    background-color: #f0b429;
    border-left: #70c1ec;
    position: sticky;
    top: 0;
    font-family: Bungee, sans-serif;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button{
    border: none;
    background-color: #70c1ec;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ffffff;
}
/* content and the book card style */
.content{
    grid-column: 1;
    grid-row: 2 / 3 ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    background-color: #e2e8f0;
    padding: 30px;
}
.card {
    position: relative;
    background-color: #70c1ec;
    border-left: 6px solid #f0b429;
    height: 200px;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
}
.author{
    font-family: Bungee, system-ui, sans-serif;
    font-size: 1rem;
}
 .title{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
 }
.page{
    font-size: 1rem;
    font-weight: 500;
}
/*button style*/
#deleteBtn{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#setReadStateBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 10px 0px;
}

#deleteBtn,
#setReadStateBtn{
    padding: 5px 5px;
    border: none;
    background-color: #f0b429;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

button{
    transition: all 0.2s ease, box-shadow 0.2 ease;
}

button:active{
    transform: scale(0.95);
    box-shadow: 0 0 0 #ffffff;
}
/* side-bar style */
.side-bar{
    grid-column: 1;
    grid-row: 1 / -1;
}
.side-bar img {
    height: 100vh;
    max-width: 400px;
    position: fixed;
    border-right: 6px solid  #70c1ec;
}

/* footer style */
footer{
    z-index: 2;
    height: 50px;
    width: calc(100% - 400px);
    grid-column: 2;
    grid-row: 3 / 4;
    background-color: #f0b429;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
    text-align: center;
    font-family: Bungee, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
}